

.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom,right top;
  }


.div_1{

    text-align: center;
    margin-top: 1.5em;

}

.logo{

    width:14%;
    height: auto;
 
}

.div_2{

    text-align: center;
   

}

.p1{

    color: rgb(46,125,50,255) ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: small;
    
    

}
.p2{
    color: #7C7D7E;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
    font-size:small;

}

.div_3{

    
    text-align: center;
    
}


.img_1{
    width:60%;
    height: auto;
}

.bttn{
    padding: 0.9em 9em;
    border-radius: 15px;
    background-color:rgb(46,125,50,255) ;
    color: white;
    font-size:0.8em;
    font-weight:400;
    border: 1px solid rgb(46,125,50,255);

}
@media screen and (max-width:900px) {
    .div{
    
      display: flex;
      flex-direction: column;
      align-content:space-evenly;
      background-size: 0%;
    }
 
.logo{
    width:21.5%;
    height: auto;
}

    .img_1{
        width:93%;
        height: auto;
    }

    
.div_2{
    text-align: center;
    display: flex;
    flex-direction: column;
}




    .p2{
    
        font-weight:400;
        font-size:0.8em;
    }

    .bttn{
    padding: 1.2em 11.8em;
     font-size: 0.8em;
     margin-top:0.8em;

    }

    

  }